.container {
    width: 90%;
    height: 800px;
    border: 2px solid black;
    margin: 10px auto;
}

.header {
    height: 60px;
    border: 1px solid black;
    text-align: center;
    margin: 10px 0;
}

.slider {
    height: 120px;
    border: 1px solid black;
    text-align: center;
    margin: 10px 0;
}


.main {
    width: 70%;
    height: 150px;
    float: left;
    border: 1px solid black;
    text-align: center;
}

.sidebar {
    width: 28%;
    height: 150px;
    float: right;
    border: 1px solid black;
    text-align: center;
}


.box {
    width: 30%;
    height: 80px;
    float: left;
    border: 1px solid black;
    text-align: center;
    margin: 10px 1%;
}

.full {
    width: 100%;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    margin: 10px 0;
    float: left;
}

.footer {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    margin: 10px 0;
    float: left;
}
