#header{
    height: 610px;
    width: 700px;
    border: 2px solid black;
    margin: 20px auto;
}
#header1{
     height: 100px;
    width: 600px;
    border: 2px solid blue;
    margin: 5px auto;
}
#slider{
     height: 150px;
    width: 600px;
    border: 2px solid red;
    margin: 5px auto;
}
#contain{
     height: 200px;
    width: 600px;
    border: 2px solid green;
    margin: 5px auto;
}
#footer{
    height: 120px;
    width: 600px;
    border: 2px solid purple;
    margin: 5px auto;
}
.box{
    height: 172px;
    width: 172px;
    border: 2px solid black;
    float: left;
    margin: 12px;
    
}
h3{
    text-align: center;
}