#outer {
    height: 750px;
    width: 700px;
    border: 2px solid black;
    margin: 5px auto;
}

#header {
    height: 100px;
    width: 650px;
    border: 2px solid black;
    margin: 5px auto;
}

#sider {
    height: 100px;
    width: 650px;
    border: 2px solid black;
    margin: 5px auto;
}

#main {
    height: 150px;
    width: 440px;
    border: 2px solid black;
    margin-left: 24px;
    float: left;
}

#sidebar {
    width: 28%;
    height: 150px;
    float: right;
    margin-right: 25px;
    border: 2px solid black;

}

.box1 {
    height: 50px;
    width: 208px;
    border: 2px solid black;
    float: left;
    margin: 10px;
    margin-left: 22px;
    margin-top: 5px;
}

.box2 {
    height: 50px;
    width: 208px;
    border: 2px solid black;
    float: left;
    margin: 10px auto;
    margin-top: 5px;
}

.box3 {
    height: 50px;
    width: 208px;
    border: 2px solid black;
    float: left;
    margin: 10px;
    margin-top: 5px;
}

.add {
    width: 650px;
    height: 100px;
    border: 2px solid black;
    margin: 20px;
    text-align: center;
    float: left;
    margin-top: 1px;
}

.footer {
    width: 650px;
    height: 50px;
    border: 2px solid black;
    margin: 20px;
    text-align: center;
    float: left;
    margin-top: 1px;
    margin-bottom: 20px;
}