#outerdiv{
     height: 580px;
    width: 700px;
    border: 2px solid black;
    margin: 2px auto;
    
}
#Header{
     height: 100px;
    width: 650px;
    border: 2px solid black;
    margin: 5px auto;
}
#slider {
    height: 100px;
    width: 650px;
    border: 2px solid black;
    margin: 5px auto;
}
#content{
    height: 140px;
    width: 410px;
    border: 2px solid black;
    margin-left: 25px;
    float: left;
}
#sidebar{
    height:140px ;
    width: 190px;
    border: 2px solid black;
    float: right;
    margin-right: 20px;
    /* margin-left:50px; */
}
.container{
    height: 90px;
    width: 200px;
    border: 2px solid black;
    float: left;
    margin-left: 25px;
    margin-top: 15px;
}

#footer{
    height: 80px;
    width: 650px;
    border: 2px solid black;
    margin: 15px auto ;
    /* margin-left: 50px; */
    /* margin-right: 20px; */
    margin-top: 270px;
}
h3{
    text-align: center;
}