#outerbox{
    height: 650px;
    width: 700px;
    border: 2px solid black;
    margin: 2px auto;
    
}

#header {
    height: 100px;
    width: 650px;
    border: 2px solid black;
    margin: 5px auto;
}

#sliderimg {
    height: 220px;
    width: 650px;
    border: 2px solid black;
    margin: 5px auto;
}
#box1{
      height: 200px;
    width: 400px;
    border: 2px solid black;
    float: left;
    margin-left: 25px;

}
#box2{
     height: 92px;
    width: 200px;
    border: 2px solid black;
    float: right;
    margin-right: 25px;

    
}
#box3{
    height: 90px;
    width: 200px;
    border: 2px solid black;
    float: right;
    margin-right: 25px;
    margin-top: 16px;
    
}
#footer{
    height: 90px;
    width: 650px;
    border: 2px solid black;
    margin: 5px ;
    margin-left: 25px;
    margin-top: 215px;
}
h3{
    text-align: center;
}